/* @tailwind base; */
@tailwind components;
@tailwind utilities;
html,
body {
  height: auto;
  min-height: 100%;
}

body {
  background: url(/bg-1.svg) no-repeat;
  background-size: contain;
  background-position: 50% 100%;
}
